<div class="row">
  <div class="navigation col col-xs-2">
    <h1>{{title}}</h1>

    <div *ngIf="identity">
      <span>
        {{identity.name}} {{identity.surname}}
      </span>

      <span class="btn btn-warning" (click)="logout()">
        Log out
      </span>
    </div>
  </div>

  <div class="clearfix"></div>

  <div *ngIf="identity" class="central col col-xs-10">
    <p>Logged</p>
  </div>
</div>

<div class="row" *ngIf="! identity">
  <div class="col col-xs-6">
    <p>Log In</p>
    <div *ngIf="alertMessage">
      <div class="alert alert-info">
        {{alertMessage}}
      </div>
    </div>
    <div class="row">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
        <p>
          <label>Email</label>
          <input #email="ngModel" name="email" [(ngModel)]="user.email" type="text" class="form-control" required>
          <span class="alert alert-danger" *ngIf="! email.valid && email.touched">Required</span>
        </p>

        <p>
          <label>Password</label>
          <input #password="ngModel" name="password" [(ngModel)]="user.password" type="password" class="form-control" required>
          <span class="alert alert-danger" *ngIf="! password.valid && password.touched">Required</span>
        </p>

        <input type="submit" class="btn btn-primary" value="Log In">
      </form>
    </div>
  </div>
  <div class="col col-xs-6">
    <p>Sign In</p>
    <div class="row">
      <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">
        <label>Name</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="userRegister.name" class="form-control" required>

        <label>Surname</label>
        <input type="text" #name="ngModel" name="surname" [(ngModel)]="userRegister.surname" class="form-control" required>

        <label>Email</label>
        <input type="email" #name="ngModel" name="email" [(ngModel)]="userRegister.email" class="form-control" required>

        <label>Password</label>
        <input type="password" #name="ngModel" name="passsword" [(ngModel)]="userRegister.password" class="form-control" required>

        <input type="submit" class="btn btn-primary" value="Sign In">
      </form>
    </div>
  </div>
</div>